USE [master]
GO
/****** Object:  Database [OOPdb]    Script Date: 1/13/2024 6:43:19 PM ******/
CREATE DATABASE [OOPdb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'OOPdb', FILENAME = N'C:\Users\Filip\OOPdb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'OOPdb_log', FILENAME = N'C:\Users\Filip\OOPdb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [OOPdb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [OOPdb]
GO
USE [OOPdb]
GO
/****** Object:  Table [dbo].[Attacks]    Script Date: 1/13/2024 6:43:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attacks](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Coordinate] [nvarchar](50) NOT NULL,
	[Hit] [bit] NOT NULL,
	[GameFK] [int] NOT NULL,
	[PlayerFK] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Attacks] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Games]    Script Date: 1/13/2024 6:43:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Games](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[CreatorFK] [nvarchar](50) NOT NULL,
	[OpponentFK] [nvarchar](50) NOT NULL,
	[Complete] [bit] NOT NULL,
 CONSTRAINT [PK_Games] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GameShipConfiguration]    Script Date: 1/13/2024 6:43:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GameShipConfiguration](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PlayerFK] [nvarchar](50) NOT NULL,
	[GameFK] [int] NOT NULL,
	[Coordinate] [nvarchar](50) NOT NULL,
	[ShipFK] [int] NOT NULL,
 CONSTRAINT [PK_GameShipConfiguration] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Players]    Script Date: 1/13/2024 6:43:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Players](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Players] PRIMARY KEY CLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ships]    Script Date: 1/13/2024 6:43:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ships](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[Size] [int] NOT NULL,
 CONSTRAINT [PK_Ships] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Ships] ON 

INSERT [dbo].[Ships] ([ID], [Title], [Size]) VALUES (1, N'Carrier', 5)
INSERT [dbo].[Ships] ([ID], [Title], [Size]) VALUES (2, N'Battleship', 4)
INSERT [dbo].[Ships] ([ID], [Title], [Size]) VALUES (3, N'Cruiser', 3)
SET IDENTITY_INSERT [dbo].[Ships] OFF
GO
ALTER TABLE [dbo].[Attacks]  WITH CHECK ADD  CONSTRAINT [FK_Attacks_Games] FOREIGN KEY([GameFK])
REFERENCES [dbo].[Games] ([ID])
GO
ALTER TABLE [dbo].[Attacks] CHECK CONSTRAINT [FK_Attacks_Games]
GO
ALTER TABLE [dbo].[Attacks]  WITH CHECK ADD  CONSTRAINT [FK_Attacks_Players] FOREIGN KEY([PlayerFK])
REFERENCES [dbo].[Players] ([Username])
GO
ALTER TABLE [dbo].[Attacks] CHECK CONSTRAINT [FK_Attacks_Players]
GO
ALTER TABLE [dbo].[Games]  WITH CHECK ADD  CONSTRAINT [FK_Games_Players] FOREIGN KEY([OpponentFK])
REFERENCES [dbo].[Players] ([Username])
GO
ALTER TABLE [dbo].[Games] CHECK CONSTRAINT [FK_Games_Players]
GO
ALTER TABLE [dbo].[Games]  WITH CHECK ADD  CONSTRAINT [FK_Games_Players1] FOREIGN KEY([CreatorFK])
REFERENCES [dbo].[Players] ([Username])
GO
ALTER TABLE [dbo].[Games] CHECK CONSTRAINT [FK_Games_Players1]
GO
ALTER TABLE [dbo].[GameShipConfiguration]  WITH CHECK ADD  CONSTRAINT [FK_GameShipConfiguration_Games] FOREIGN KEY([GameFK])
REFERENCES [dbo].[Games] ([ID])
GO
ALTER TABLE [dbo].[GameShipConfiguration] CHECK CONSTRAINT [FK_GameShipConfiguration_Games]
GO
ALTER TABLE [dbo].[GameShipConfiguration]  WITH CHECK ADD  CONSTRAINT [FK_GameShipConfiguration_Players] FOREIGN KEY([PlayerFK])
REFERENCES [dbo].[Players] ([Username])
GO
ALTER TABLE [dbo].[GameShipConfiguration] CHECK CONSTRAINT [FK_GameShipConfiguration_Players]
GO
ALTER TABLE [dbo].[GameShipConfiguration]  WITH CHECK ADD  CONSTRAINT [FK_GameShipConfiguration_Ships] FOREIGN KEY([ShipFK])
REFERENCES [dbo].[Ships] ([ID])
GO
ALTER TABLE [dbo].[GameShipConfiguration] CHECK CONSTRAINT [FK_GameShipConfiguration_Ships]
GO
USE [master]
GO
